{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form action="/login" method="post">
        <input type="text" name="_username">
        <input type="password" name="_password">
        <input type="submit" value="Login">
    </form>
{% endblock %}